@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");

$secondary: #949494;
$danger: #ae0000;

@mixin header_fontsize {
  font-size: 128px;
  letter-spacing: 15.36px;
}
@mixin detail_list {
  width: 636px;
  margin-bottom: 40px;
}
@mixin list_h3 {
  color: $danger;
  font-size: 40px;
  margin-bottom: 16px;
  border-bottom: 3px solid $danger;
}
@mixin list_link {
  color: #000;
  font-size: 24px;
  text-decoration: none;
}
body {
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Castoro", serif;
}
.container {
  width: 1296px;
  margin: 0 auto;
}
.header {
  h1 {
    @include header_fontsize;
    padding-top: 160px;
  }
  .me_img {
    width: 636px;
    height: 848px;
    margin: 0 auto;
    vertical-align: middle;
  }
  h2 {
    @include header_fontsize;
    width: 50%;
    margin-left: auto;
  }
}
.myself {
  background: #efefef;
  padding: 48px 0;
  margin-bottom: 80px;
  .container {
    p {
      width: 50%;
      margin-left: auto;
      font-size: 32px;
    }
  }
}

.detail {
  .detail_list {
    width: 50%;
    h3 {
      @include list_h3;
    }
  }
}
.vito_evans {
  @include detail_list;
  a {
    display: block;
    margin-bottom: 8px;
    @include list_link;
    &:hover {
      color: $danger;
    }
  }
}
.education {
  @include detail_list;
  li {
    margin-bottom: 16px;
    font-size: 24px;
    p:nth-child(1) {
      color: $secondary;
      font-size: 20px;
      font-style: italic;
    }
  }
}
.work {
  @include detail_list;
  li {
    margin-bottom: 16px;
    font-size: 24px;
    p:nth-child(1) {
      color: $secondary;
      font-size: 20px;
      font-style: italic;
    }
  }
}
.awards {
  @include detail_list;
  li {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
.footer {
  background-color: #000;
  padding: 64px;
  margin-top: 160px;
}
.content {
  text-align: center;
  li {
    display: inline-block;
    &:nth-child(2) {
      margin: 0 40px;
    }
    a {
      img {
        width: 64px;
        height: 64px;
        vertical-align: middle;
      }
    }
  }
}
