* {
  line-height: 1.5;
}
.wrap {
  width: 640px;
  margin: 0 auto;
}
.top {
  display: flex;
  justify-content: space-between;
}
.item {
  display: flex;
  margin-bottom: 24px;
}
.item_contain h2 {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.item img {
  vertical-align: middle;
  margin-right: 20px;
}
.botton {
  text-align: center;
  padding: 52px;
}
