.header--container_series_frame {
  @include container;

  &_list {
    display: flex;

    li {
      width: 432px;
      text-align: center;
      border: 1px solid #dcdcdc;
    }

    a {
      font-size: 32px;
      display: block;
      color: #000;
      padding: 24px 0 16px 0;
      border-bottom: 8px solid #fff;

      &:hover {
        border-bottom: 8px solid $primary;
      }
    }
  }

  @include pc {
    a {
      font-size: 24px;
      padding: 16px 0 8px 0;
    }
  }
  @include tab {
    a {
      font-size: 24px;
      padding: 16px 0 8px 0;
    }
  }
  @include phone {
    a {
      font-size: 16px;
    }
  }
}
.header--banner_optical_list {
  display: flex;
  &_glasses {
    width: 50%;
    min-height: 296px;
    background: center/cover no-repeat
      url(../../../../images/pages/20230721/20230721Week03/product-header-1.png);
  }
  &_girl {
    width: 50%;
    min-height: 296px;
    background: center/cover no-repeat
      url(../../../../images/pages/20230721/20230721Week03/product-header-2.png);
  }
  @include pc {
    &_glasses {
      background: center/cover no-repeat
        url(../../../../images/pages/20230721/20230721Week03/product-header-sm-1.png);
    }
    &_girl {
      background: center/cover no-repeat
        url(../../../../images/pages/20230721/20230721Week03/product-header-sm-2.png);
    }
  }
  @include tab {
    &_glasses {
      background: center/cover no-repeat
        url(../../../../images/pages/20230721/20230721Week03/product-header-sm-1.png);
    }
    &_girl {
      background: center/cover no-repeat
        url(../../../../images/pages/20230721/20230721Week03/product-header-sm-2.png);
    }
  }
  @include phone {
    &_glasses {
      min-height: 136px;
    }
    &_girl {
      min-height: 136px;
    }
  }
}
.section--contain_celluloid_combi {
  @include container;
  text-align: center;
  h2 {
    font-size: 42px;
  }
  p {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
