header {
  background: $primary;
}
.header--container {
  @include df-jcsb;
  @include container;
  padding: 16px 0;
  @include pc {
    padding: 12px 36px;
  }
  @include tab {
    padding: 12px 36px;
  }
  @include phone {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.header--logo_img {
  @include phone {
    margin-left: 15px;
    align-self: start;
  }
  img {
    width: 80px;
    height: 48.57px;
    @include phone {
      margin: 16px 0;
    }
  }
}
.header--nav {
  @include df-jcsb;
  align-items: center;
  width: 492px;
  font-size: 20px;
  @include tab {
    font-size: 20px;
  }
  @include phone {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .header--nav_list {
    @include phone {
      width: 50%;
      border: 1px solid #fff;
    }
    a {
      display: block;
      @include phone {
        display: block;
        text-align: center;
        padding: 12px 0;
      }
    }
  }
}
