<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/20230721/header'); -%>

    <h1 class="index-title">我是首頁</h1>
    <img
      src="../../../assets/images/pages/20230721/20230721Week03/blog-1.png"
      style="width: 300px"
      alt="cat"
    />

    <%- include('./layout/20230721/footer'); -%>

    <script type="module" src="../../../main/20230721Week03.js"></script>
  </body>
</html>
