<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/20230721/header'); -%>

    <div class="header--banner">
      <div class="header--banner-contain">
        <div class="header--banner-slogan">
          <p>Promise-Desert 2020 早春系列</p>
          <p>看得清，才能看得遠</p>
          <span class="header--banner-botton">
            <a href="#">立即購買</a>
          </span>
        </div>
      </div>
    </div>
    <div class="section--item_serve">
      <div class="section--contain_serve">
        <h2>用專業的心，做專業的事</h2>
        <ul class="section--contain_serve_list">
          <li>
            <img
              src="../../../assets/images/pages/20230721/20230721Week03/home-section2-1.png"
              alt="paid_img"
            />
            <h3>單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li>
            <img
              src="../../../assets/images/pages/20230721/20230721Week03/home-section2-2.png"
              alt="schedule_img"
            />
            <h3>20 分鐘即可取件</h3>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li>
            <img
              src="../../../assets/images/pages/20230721/20230721Week03/home-section2-3.png"
              alt="favorite_border_img"
            />
            <h3>安心售後服務</h3>
            <p>
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li>
            <img
              src="../../../assets/images/pages/20230721/20230721Week03/home-sectioin2-4.png"
              alt="voicemail_img"
            />
            <h3>關於鏡片</h3>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="section--item_classic">
      <div class="section--contain_classic">
        <h2>經典系列鏡框</h2>
        <ul class="section--contain_classic_list">
          <li>
            <img
              src="../../../assets/images/pages/20230721/20230721Week03/home-section3-1.png"
              alt=""
            />
            <h3>OPTICAL</h3>
          </li>
          <li>
            <img
              src="../../../assets/images/pages/20230721/20230721Week03/home-section3-2.png"
              alt=""
            />
            <h3>SUNGLASSES</h3>
          </li>
          <li>
            <img
              src="../../../assets/images/pages/20230721/20230721Week03/home-section3-3.png"
              alt=""
            />
            <h3>FUNCTIONAL</h3>
          </li>
        </ul>
      </div>
    </div>

    <%- include('./layout/20230721/footer'); -%>

    <script type="module" src="../../../main/20230721Week03.js"></script>
  </body>
</html>
