<footer>
  <div class="footer-container">
    <div class="footer-nav">
      <ul class="footer-nav_samll">
        <li class="footer_samll_nav_list"><a href="#">首頁</a></li>
        <li class="footer_samll_nav_list"><a href="#">系列鏡框</a></li>
        <li class="footer_samll_nav_list"><a href="#">門市據點</a></li>
        <li class="footer_samll_nav_list"><a href="#">部落格</a></li>
        <li class="footer_samll_nav_list"><a href="#">常見問題</a></li>
      </ul>
      <ul class="footer-nav_contact">
        <li>
          <a href="tel:+">
            <span class="material-symbols-outlined">call</span>
            <span>0800-000-00</span>
          </a>
        </li>
        <li>
          <a href="mailto:">
            <span class="material-symbols-outlined"> mail </span>
            <span>glasses@business.com</span>
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer-nav_img">
      <li>
        <a href="#"
          ><img
            src="../../../assets/images/pages/20230721/20230721Week03/ic-social-fb.png"
            alt="icon_fb"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            src="../../../assets/images/pages/20230721/20230721Week03/ic_social_ig.png"
            alt="icon_ig"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            src="../../../assets/images/pages/20230721/20230721Week03/ic_social_line.png"
            alt="icon_line"
        /></a>
      </li>
    </ul>
    <hr class="footer-hr_white" />
    <div class="footer-contain_copyright">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="footer-contain-nav">
        <li><a href="#">隱私權政策</a></li>
        <li><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
