<header>
  <div class="header--container">
    <div class="header--logo_img">
      <img
        src="../../../assets/images/pages/20230721/20230721Week03/logo-white.png"
      />
    </div>
    <ul class="header--nav">
      <li class="header--nav_list">
        <a href="./series_frame.html">系列鏡框</a>
      </li>
      <li class="header--nav_list"><a href="#">門市據點</a></li>
      <li class="header--nav_list"><a href="#">部落格</a></li>
      <li class="header--nav_list"><a href="#">常見問題</a></li>
    </ul>
  </div>
</header>
