@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Roboto:wght@500&display=swap");

$primary: #aa0601;
$secorday: #650300;
$other: #fbf2f2;

@mixin df-jcsb {
  display: flex;
  justify-content: space-between;
}
@mixin container {
  max-width: 1296px;
  margin: 0 auto;
}
@mixin h2 {
  font-size: 48px;
  color: $secorday;
}
@mixin h3 {
  font-size: 48px;
  color: $primary;
  font-style: italic;
}

@mixin pc {
  @media (max-width: 1296px) {
    @content;
  }
}
@mixin tab {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif, "Roboto", sans-serif;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #fff;
  &:hover {
    color: black;
  }
}
